<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>github-ribbon Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="github-ribbon.html">

</head>
<body unresolved>

  <p>An example of using <code>&lt;github-ribbon></code>:</p>

  <github-ribbon repository="philipp94831/github-ribbon"></github-ribbon>
  <github-ribbon repository="philipp94831/github-ribbon" color="darkblue" left></github-ribbon>

</body>
</html>
